<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 col-12">
      <div class="about-section" id="about">
        <h2 class="fw-bold title fs-2 mb-4">About Us</h2>

        <p>
          <strong class="title"
            >Welcome to the Opticians Association of Pakistan (OAP)</strong
          >
        </p>

        <p>
          The
          <strong class="title">Opticians Association of Pakistan (OAP)</strong>
          is the <strong class="title">first and only</strong> optician's
          organization <strong class="title">licensed and recognized</strong> by
          the
          <strong class="title"
            >Ministry of Commerce, Government of Pakistan</strong
          >.
        </p>

        <p>
          Dedicated to advancing the opticianry profession, OAP works tirelessly
          to promote excellence through
          <strong class="title"
            >continuous education, training, and professional
            development</strong
          >
          for opticians across the country.
        </p>

        <p>
          As the leading advocate for opticians in Pakistan, OAP represents the
          profession at <strong class="title">all platforms</strong>, ensuring
          that the voices and contributions of opticians are heard and valued.
        </p>

        <p>
          Whether through
          <strong class="title"
            >skill enhancement programs, industry standards, or policy
            advocacy</strong
          >, we are committed to elevating the opticianry field to new heights.
        </p>

        <p>
          Join us in our mission to strengthen the profession, uphold ethical
          practices, and deliver
          <strong class="title">quality eye care</strong> to the people of
          Pakistan.
        </p>
      </div>

      <!-- Core Objectives -->
      <div>
        <h3 class="fw-bold my-4 title" id="objectives">Our Core Objectives</h3>
        <div class="row row-cols-1 row-cols-md-2 g-3">
          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-mortarboard-fill text-success fs-5"></i>
            <div>
              <strong>Professional Development & Education</strong>
              <p class="mb-0 small">
                Provide continuing education, certification support, and
                training to ensure opticians stay current with industry
                advancements.
              </p>
            </div>
          </div>

          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-megaphone-fill text-success fs-5"></i>
            <div>
              <strong>Advocacy & Regulation</strong>
              <p class="mb-0 small">
                Advocate for opticians' interests and promote fair licensing and
                scope-of-practice laws.
              </p>
            </div>
          </div>

          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-eye-fill text-success fs-5"></i>
            <div>
              <strong>Public Awareness & Eye Health</strong>
              <p class="mb-0 small">
                Educate the public on eye care and support initiatives for
                disease prevention and access to services.
              </p>
            </div>
          </div>

          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-shield-fill-check text-success fs-5"></i>
            <div>
              <strong>Ethical & Quality Standards</strong>
              <p class="mb-0 small">
                Enforce a code of ethics and ensure high-quality dispensing of
                eyewear and contact lenses.
              </p>
            </div>
          </div>

          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-people-fill text-success fs-5"></i>
            <div>
              <strong>Industry Collaboration & Networking</strong>
              <p class="mb-0 small">
                Build partnerships and organize events to foster knowledge
                sharing and innovation.
              </p>
            </div>
          </div>

          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-person-check-fill text-success fs-5"></i>
            <div>
              <strong>Supporting Members & Workforce</strong>
              <p class="mb-0 small">
                Offer mentorship, resources, and career development while
                attracting new talent to the profession.
              </p>
            </div>
          </div>

          <div class="d-flex align-items-start gap-2">
            <i class="bi bi-lightbulb-fill text-success fs-5"></i>
            <div>
              <strong>Research & Innovation</strong>
              <p class="mb-0 small">
                Promote advancements in optical technology and support vision
                care research.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Leadership -->
      <h3 class="fw-bold mb-4 mt-5 title" id="leadership">
        Voices of Leadership
      </h3>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <!-- Leader 1 -->
        <div class="col text-center">
          <div class="founder-img-wrapper founder-img-wrapper-2 mx-auto mb-2">
            <img
              src="assets/FounderImages/Founder1.png"
              alt="Khalid Sohail Gulzari"
            />
          </div>
          <p class="mb-1 fw-bold">Khalid Sohail Gulzari</p>
          <p class="mb-1 small text-muted">Chairman</p>
          <p class="small fst-italic">
            “It is an honor to lead this esteemed body. We take pride in being a
            global representative for opticians.”
          </p>
        </div>

        <!-- Leader 2 -->
        <div class="col text-center">
          <div class="founder-img-wrapper mx-auto mb-2 bg-white rounded-2">
            <img src="assets/FounderImages/Founder3.png" alt="Muhammad Sadiq" />
          </div>
          <p class="mb-1 fw-bold">Muhammad Safdar</p>
          <p class="mb-1 small text-muted">Senior Vice Chairman</p>
          <p class="small fst-italic">
            “Our commitment to independent selection empowers our community. We
            champion excellence in eye care.”
          </p>
        </div>

        <!-- Leader 3 -->
        <div class="col text-center">
          <div class="founder-img-wrapper mx-auto mb-2">
            <img src="assets/FounderImages/Founder2.jpeg" alt="Ali Mudassir" />
          </div>
          <p class="mb-1 fw-bold">Ali Mudassir</p>
          <p class="mb-1 small text-muted">Vice Chairman</p>
          <p class="small fst-italic">
            “We continue organizational growth and collaboration to shape a
            brighter future for our community.”
          </p>
        </div>
      </div>

      <div class="mt-5" id="expo2024">
        <h3 class="fw-bold mb-4 title">2024 Expo Highlights</h3>

        <div class="row g-3">
          <div class="col-12 col-md-4">
            <div class="rounded overflow-hidden shadow-sm">
              <img
                src="assets/Carousal/Gallery/Image4.jpeg"
                alt="Expo 2024 Image 1"
                class="img-fluid w-100"
              />
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="rounded overflow-hidden shadow-sm">
              <img
                src="assets/Carousal/Gallery/Image2.jpeg"
                alt="Expo 2024 Image 2"
                class="img-fluid w-100"
              />
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="rounded overflow-hidden shadow-sm">
              <img
                src="assets/Carousal/Gallery/Image3.jpeg"
                alt="Expo 2024 Image 3"
                class="img-fluid w-100"
              />
            </div>
          </div>
        </div>

        <div class="text-center mt-4">
          <a
            [routerLink]="['/gallery']"
            class="btn btn-outline-success fw-bold px-4"
          >
            Show More
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-12 mt-5 mt-lg-0">
      <div
        class="text-white p-3 rounded mb-4 text-center"
        style="background-color: #003366"
      >
        <h6 class="fw-bold fs-3">Latest Update</h6>

        <ng-container *ngIf="latestEvent; else noEventTemplate">
          <div
            class="text-dark p-3 rounded position-relative"
            style="
              padding-top: 2.5rem !important;
              text-align: left;
              background-color: rgba(248, 249, 250, 0.116);
            "
          >
            <div class="position-absolute top-0 end-0 m-2" style="z-index: 10">
              <span
                class="badge rounded-pill px-3 py-2"
                [ngClass]="
                  latestEvent.paid
                    ? 'bg-success text-white'
                    : 'bg-danger text-white'
                "
              >
                {{ latestEvent.paid ? "Paid" : "Free" }}
              </span>
            </div>

            <h4 class="mb-2 fw-bold text-white text-start">
              {{ latestEvent.title }}
            </h4>

            <p class="mb-2 fw-bold text-start text-white">
              {{
                getFormattedDateRange(
                  latestEvent?.eventDateFrom,
                  latestEvent?.eventDateTo
                )
              }}
            </p>

            <p class="mb-2 fw-bold text-white text-start">
              {{ latestEvent.address }}
            </p>

            <div
              class="d-flex justify-content-between align-items-center mb-2 text-white fw-bold"
            >
              <div>Starts In:</div>
              <div><i class="bi bi-clock"></i> {{ countdown }}</div>
            </div>

            <button
              class="btn btn-success fw-bold w-100 mt-3"
              (click)="openSignupModal()"
            >
              Register Now
            </button>
          </div>
        </ng-container>

        <ng-template #noEventTemplate>
          <div class="bg-light text-dark p-3 rounded">
            <p class="mb-0 fw-bold">No latest event available at the moment.</p>
          </div>
        </ng-template>
      </div>

      <!-- Contact Us -->
      <h6 class="fw-bold title fs-2 mb-2 mb-sm-3 mb-md-4">Contact Us</h6>
      <ul class="list-unstyled small mb-3">
        <li class="mb-2 mb-sm-3 mb-md-4">
          <i class="bi bi-envelope-fill me-2 text-success"></i>
          <a
            href="mailto:Info&#64;opticians.pk"
            class="text-decoration-none text-dark fw-bold"
            >Info&#64;opticians.pk</a
          >
        </li>
        <li class="mb-2 mb-sm-3 mb-md-4">
          <i class="bi bi-telephone-fill me-2 text-success"></i>
          <a
            href="tel:0516107576"
            class="text-decoration-none text-dark fw-bold"
            >051-6107576</a
          >
        </li>
        <li class="mb-2 mb-sm-3 mb-md-4">
          <i class="bi bi-geo-alt-fill me-2 text-success"></i>
          <a
            href="https://www.google.com/maps/search/?api=1&query=Office+No.6,+2nd+Floor+Capital+Trade+Centre,+F-10+Markaz,+Islamabad,+Pakistan"
            target="_blank"
            class="text-decoration-none text-dark fw-bold"
          >
            Office No. 6, 2nd Floor Capital Trade Centre, F-10 Markaz,
            Islamabad, Pakistan
          </a>
        </li>
      </ul>

      <!-- Map -->
      <iframe
        class="w-100 rounded mb-4"
        height="250"
        style="border: 0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.682160276789!2d73.00749981521027!3d33.696958847361246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df958a0e9c67f1%3A0x605877eec01098be!2sF-10%20Markaz%2C%20Islamabad!5e0!3m2!1sen!2s!4v1711587972611!5m2!1sen!2s"
      >
      </iframe>

      <!-- Upcoming Events -->
      <h6 class="fw-bold title fs-3">Upcoming Events</h6>

      <div *ngIf="upcomingEvents.length > 0; else comingSoon">
        <div
          class="border p-3 rounded text-center mb-2"
          style="background-color: #e0ffd1"
          *ngFor="let event of upcomingEvents.slice(0, 3)"
        >
          <div
            class="border p-3 rounded mb-3 shadow-sm"
            style="background-color: #f4fdf0"
          >
            <h5 class="fw-semibold title mb-1">{{ event.title }}</h5>
            <p class="mb-1 text-muted">
              <i class="bi bi-geo-alt-fill me-1"></i>{{ event.address }}
            </p>
            <p class="mb-0 text-secondary small">
              <i class="bi bi-calendar-event me-1"></i>
              From:
              {{
                getFormattedDateRange(event.eventDateFrom, event.eventDateTo)
              }}
            </p>
          </div>
        </div>
      </div>

      <ng-template #comingSoon>
        <div
          class="border p-3 rounded text-center"
          style="background-color: #ffefc2"
        >
          <h5 class="mb-0 sub-heading">
            Opticians Training<br />
            <p class="sub-heading">Coming soon...</p>
          </h5>
        </div>
      </ng-template>
    </div>
  </div>
</div>
