<nav *ngIf="totalPages > 0" class="mt-4 d-flex justify-content-end">
  <ul class="pagination flex-wrap justify-content-center gap-1">
    <!-- Previous -->
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="changePage(currentPage - 1)">
        Previous
      </button>
    </li>

    <!-- Dynamic Pages -->
    <li
      class="page-item"
      *ngFor="let page of visiblePages"
      [class.active]="currentPage === page"
    >
      <button class="page-link btn-primary" (click)="changePage(page)">
        {{ page }}
      </button>
    </li>

    <!-- Next -->
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="changePage(currentPage + 1)">
        Next
      </button>
    </li>
  </ul>
</nav>
