<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content oap-modal">
            <div class="text-center mt-4">
                <img src="assets/Logo.png" alt="Logo" class="oap-logo" />
            </div>

            <!-- New Heading Above Admin Login -->
            <div class="text-center mt-3">
                <h4 class="fw-bold">Optician Association of Pakistan</h4>
            </div>

            <div class=" text-center">
                <h6 class="fw-bold" id="loginModalLabel">Admin Login</h6>
            </div>

            <div class="modal-body px-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="email" class="form-label fw-semibold">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email"
                            placeholder="Enter your email" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-semibold">Password</label>
                        <input type="password" id="password" class="form-control" formControlName="password"
                            placeholder="Enter your password" />
                    </div>
                    <button type="submit" class="btn btn-oap w-100 fw-bold mt-2">Login</button>
                </form>
                <div class="text-center mt-3">
                    <a href="#" class="oap-footer-link fw-semibold">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>